.draggable-item {
  max-width: 100px;
  cursor: move;
  position: absolute;
  /* drag: false; */
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
